body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #163052;
  color: white;
  font-family: "Poponis", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

a {
  outline: none;
  text-decoration: none;
  color: aliceblue;
}

.movie {
  width: 250px;
  margin: 1rem;
  background-color: #373b69;
  position: relative;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.movie img {
  object-fit: cover;
  height: 400px;
  max-width: 100%;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.auth {
  padding-right: 50px;
}

.search-header {
  background-color: #373b69;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.search {
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  border: 2px solid #22254b;
  color: white;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
}

.search:focus {
  outline: none;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.movie-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  background-color: white;
  color: #22254b;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  padding: 1rem;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
}

.movie:hover .movie-over {
  transform: translateY(0%);
}

.tag {
  background-color: #22254b;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 5px;
}

.tag.green {
  color: rgb(11, 177, 11);
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: rgb(255, 5, 5);
}

.pagination {
  display: flex;
  justify-content: center;
  background-color: #373b69;
}

.movie-genre {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* ---------------------------------- */

.movie_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.shortcut_bar {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: white;
  height: 3rem;
  color: black;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  z-index: 1;
  position: relative;
  /* background-image: url("https://image.tmdb.org/t/p/w500/inJjDhCjfhh3RtrJWBmmDqeuSYC.jpg"); */
  background-position: inherit;
  border-bottom: 1px solid black;
  background-position: right -200px top;
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0.3; */
}

.header_container {
  background: linear-gradient(to bottom right, rgba(10.98%, 11.76%, 12.55%, 1.00), rgba(10.98%, 11.76%, 12.55%, 0.84));
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.single_column {
  display: flex;
  padding: 30px 40px 30px 40px;
  position: relative;
  z-index: 0;
}

.column_info {
  display: flex;
  flex-direction: row;
}

.release_date {
  font-size: 1.4rem;
  margin: 4px;
  opacity: 0.8;
  font-weight: 400;
}

.release {
  margin-right: 5px;
  margin-left: 5px;
}

.facts {
  display: flex;
  flex-direction: unset;
  justify-content: first baseline;
  margin: 1px;
  text-align: center;
  position: absolute;
}

.genre_container {
  display: block;
  flex-direction: unset;
}

.genre_container li {
  margin: 0px;
  padding: 5px;
}

.genre_container ul {
  margin: 0;
  padding-left: 20px;
}

ul.hr {
  margin: 0;
  padding: 0px;
}

ul.hr li {
  display: inline;
  /* Отображать как строчный элемент */
  margin-right: 5px;
  /* Отступ слева */
  padding: 3px;
  /* Поля вокруг текста */
  border: 1px solid black;
}

/* ------------------------------------------- */

.header_poster_wraper {
  margin: 10px;
  display: flex;
  position: relative;
  padding-left: 20px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}

.poster_info {
  margin-top: 50px;
}

.poster img {
  height: 100%;
  width: 300px;
  border-radius: 5px;
}

.tagline {
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  opacity: 0.7;
}

.overview {
  font-family: sans-serif;
}

/* --------------recommendation------------------ */

.recommendation_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.recommendation_container img {
  max-height: 200px;
  cursor: pointer;
}